<style>
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
</style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
 font-family: 'Press Start 2P', cursive;
  background:#fcb6d7; 
}

/*Scroll Bar*/
::-webkit-scrollbar
{
  width: 0.5vw;
}

::-webkit-scrollbar-thumb
{
  background: linear-gradient(#fc9dc9, #ff91c4);
  border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb:hover
{
  background: linear-gradient(#ffbfdd,#ffbfdd);
}

::-webkit-scrollbar-track
{
  background: #ffffff;
}


/*Nav Bar*/
.topbar {
  background-color: #fcb6d7;
  position: relative;
  display: flex;
}

.topnav {
  background-color: #fcb6d7;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  text-align: center;
  padding: 14px 16px;
  border: 1px solid white;
}

.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #f274af;
  color: #e7eaf6;
  border-radius: 0.5vw;
}

.topnav .active {
  font-weight: bold;
}

/*Hero Content*/

.hero {
  position: relative;
  padding: 0;
  width: 100%;
}

.hero-overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 90%;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 25px;
  font-size: 48px;
  padding: 0px;
  line-height: .5;
  color: #ffffff;
}

.hero img {
  height: auto;
  opacity: .65;
}

.hero p {
  margin-left: 20px;
  margin-top: 0px;
  color: white;
}

.hero a {
  color: #a2a8d3;
}

/*Main Content*/
.content {
  position: relative;
  background-color: #ffffff;
  padding: 50px;
  padding-bottom: 10px;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  color:#fa98c6;
}

.content a {
  color: #fc6abd;
}

.preview {
  border: 1px solid #ffffff;
}

.content button {
  background-color: #F8E81A;
  color: #113f67;
  font-size: large;
  padding: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.row1 {
  background-color: white;
  padding: 10px;
  flex: 50%;
}

.row2 {
  background-color: white;
  padding: 10px;
  flex: 50%;
}

.row3 {
  padding: 0px;
  flex: 25%;
}

.row4 {
  padding: 7.5px;
  flex: 75%;
}

/*Footer*/
.footer {
  display: wrap;
  flex-wrap: wrap;
  background-color: #fcb6d7;
  text-align: right;
  padding: 10px;
}

.footer a {
  color: white;
}

/*PDF Viewer*/
iframe {
  width: 100%;
  height: 800px;
}
object {
  width: 100%;
  height: 800px;
}

#pdf {
  display: block;
  width: 100%;
  background-color: grey;
}

.pdf-content {
  background-color: #FFFFFF;
  padding: 50px;
  width: 100%;
}

.pdf-content a {
  color: #113f67;
}

.logo-image img{
  height: 40px;
  overflow: hidden;
  float: left;
  padding: 5px;
}


/*Responsive*/

@media (max-width: 700px) {
  .topnav {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .topnav a{
    margin: auto;
    width: 100%;
  }

  .footer {
    margin: auto;
    text-align: center;
  }

  .logo-image img{
    float: none;
    margin: auto;
  }

  .content {
    width: 100%;
  }

  .row1, .row2, .row3, .row4 {
    flex: 100%;
  }

  .hero-overlay {
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 50px;
    width: auto;
  }
}
